* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.75px;
}

.song {
  height: auto;
  width: 60%;
  margin: 10% 20%;
  object-fit: cover;
  border-radius: 3%;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.text {
  font-size: small;
  height: 40vh;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.text-1 {
  font-size: small;
  height: 50vh;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.prev {
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  left: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.next {
  position: absolute;
  right: 5px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.audio {
  width: 75%;
  position: absolute;
  bottom: 20px;
  left: 12.5%;
}